<div class="container">
  <div class="row">
    <div class="col">
      <h1>THINGS TO DO</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="!isSearch">
        <input type="text" [(ngModel)]="newText" placeholder="Add New" (keyup.enter)="onEnter()" />
      </div>
      <div *ngIf="isSearch">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul>
        <li *ngFor="let item of items | filter : searchText">
          <input (change)="getSelected()" type="checkbox" value="{{item.id}}" [(ngModel)]="item.selected" />
          <span>{{item.name}}</span>
        </li>
      </ul>
    </div>
  </div>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <button (click)="changeState(false)">Add</button>
      <button (click)="changeState(true)">Search</button>
      |
      <span>{{items.length}} items left</span>
    </a>
    <form class="form-inline">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked
          (change)="getAll()">
        <label class="form-check-label" for="exampleRadios1">
          All
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"
          (change)="getActives()">
        <label class="form-check-label" for="exampleRadios2">
          Active
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
          (change)="getCompleted()">
        <label class="form-check-label" for="exampleRadios3">
          Completed
        </label>
      </div>
    </form>
  </nav>
</div>